<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
  <!-- <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property> -->
  <mapping resource="com/etc/bean/Cus.hbm.xml"/>
  <mapping resource="com/etc/bean/Dep.hbm.xml"/>
  <mapping resource="com/etc/bean/Log.hbm.xml"/>
  <mapping resource="com/etc/bean/Ord.hbm.xml"/>
  <mapping resource="com/etc/bean/Room.hbm.xml"/>
  <mapping resource="com/etc/bean/RoomType.hbm.xml"/>
  <mapping resource="com/etc/bean/PageBean.hbm.xml"/>
  <mapping resource="com/etc/bean/Auth.hbm.xml"/>
  <mapping resource="com/etc/bean/Emp.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
